<div class="iconContainer">
    {{#link-to 'iconHome.box' comp.id}}
        <div class="border-wrap ">
        <div class="icon">
            <img src="{{comp.icon}}" width="70px" height="70px">
        </div>
        <div class="labelText"> 
            <h3>{{comp.label}}</h3></div>
        </div>

    {{/link-to}}
</div>

